<div class="chart-section">
  <div>
    <canvas class="chart" baseChart
      [data]="totalCountChartData"
      [labels]="totalCountChartLabels"
      [type]="totalCountChartType"
      *ngIf="totalCountStats.length > 0">
    </canvas>
  </div>
  <div [ngStyle]="getBarChartDivWidth()">
    <canvas  class="bar-chart" [ngStyle]="updateChartDimensions()" baseChart
      [data]="countsByModelChartData"
      [labels]="countsByModelChartLabels"
      [type]="countsByModelChartType"
      [options] ="countsByModelChartOptions"
      *ngIf="countsByModelChartData.datasets[0].data.length > 0">
    </canvas>
  </div>
</div>

