.content {
  min-height: calc(100vh - 98px);
  border-radius: 10px;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.form-group{
  font-size: 16px;
  margin-right: 10px;
}

img {
  height: 150px;
  width: 160px;
}

.mat-card {
  justify-content: center;
  width: 75%;
  height: auto;
  border-radius: 30px;
  margin: 40px;
  padding: 40px;
  position: flex;
  // top: 180px;
  box-shadow: none;
  background-color: transparent;
  border-color: var(--niva-green-color);
  border-style: solid;
  border-width: thin;
}

.mat-label{
  font-size:1rem;
  color:var(--secondary-color);
}

.mat-label-image{
  @extend .mat-label;
  padding-left:2%;
  padding-right:10%;
}

.mat-label-dropdown{
  @extend .mat-label;
  font-size:1rem;
}

.new-test{
  background-color: #00B050;
  color: white;
  top: 0;
  left: 0;
  margin: 20px;
}

.mat-card-title {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0%;
  color:var(--secondary-color);
  font-size: 1rem;
}

h2{
  margin-top: 150px;
  color:var(--secondary-color);
}

input {
  font-size: 1rem;
}

// Upload Images Button
.custom-button{
  border-radius: 7px;
  background-color: #00B050;
  color: white;
  mat-icon {
    padding-left: 5px;
  }
  span {
    padding-left: 5px;
    padding-left: 5px;
  }
}

ngx-dropzone,
.custom-dropzone {
  min-height: calc(30vh - 98px);
  width: 460px;
  background-color:var(--primary-color);
  border: 2px dashed var(--secondary-color);
  padding-right: 5%;
  margin-right:10%;
  border-radius: 5px;
  margin-bottom: 1%;
}


.api-results {
  min-height: 300px;
  min-width: 300px;
  display: flex;
  flex-grow: inherit;
  flex-direction: row;
  align-items: flex-start;

  .api-result-card {
    padding: 10px;

    p {
      color:var(--secondary-color);
      font-size: 1rem !important;
    }

    img {
      max-width: 200px !important;
      height: auto;
      border: 2px solid red;
    }
  }
}

.loading-spinner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 5em;
  width: 100%;

  .images-array {
    padding: 20px;
    min-height: 400px;

    .images-container {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      min-height: 100%;
      width: 100%;

      img {
        max-width: 200px !important;
        height: auto;
        padding: 10px;
      }
    }
  }


  .form-elements {
    display: flex;
    margin-top: 30px;
  }
}
