<button mat-button class="new-test" (click)="resetState()" *ngIf="dbImage.length > 0" >
  <mat-icon>arrow_back</mat-icon>
   <span >New Image Test</span>
</button>
<app-stats-section></app-stats-section>
<div class="content mat-elevation-z8">
  <!-- Spinner -->
  <div class="loading-spinner" *ngIf="loading">
    <mat-spinner mode="indeterminate" diameter="170"></mat-spinner>
  </div>
  <div class="main-content" *ngIf="!loading && !results">
    <!-- Uploaded Images-->
    <div class="images-array" *ngIf="dbImage.length > 0">
      <h2> Number of Images Uploaded: {{dbImage.length}}</h2>
      <div class="images-container">
        <div class="image" *ngFor="let photo of dbImage; index as position">
          <img [src]="photo">
        </div>
      </div>
    </div>
    <!-- Form Elements-->
    <div class="form-elements" *ngIf="dbImage.length === 0">
      <!-- https://www.bezkoder.com/angular-material-12-image-upload-preview/ -->
      <form ma *ngIf="!loading">
        <mat-card>
          <div class="form-group" *ngIf="dbImage !== []">
            <mat-form-field appearance="legacy">
              <mat-label>Enter Application ID</mat-label>
              <input matInput [(ngModel)]="appId" name="appid"  placeholder="Application ID" type="text">
            </mat-form-field>
          </div>
          <mat-card-title> Choose Image(s)</mat-card-title>
          <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
            <mat-label class="mat-label-image" *ngIf="uploadedImages.length==0">
              Drag and Drop Images </mat-label>
            <ngx-dropzone-label>
              <img src="../../../assets/upload.png" alt="image placeholder">
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of uploadedImages" [file]="f">
            </ngx-dropzone-image-preview>
          </div>
          <button mat-button class="custom-button" (click)="imageUploadAction()">
            <mat-icon>cloud_upload</mat-icon>
             <span >Upload Image(s)</span>
          </button>
        </mat-card>
      </form>
    </div>
    <div class="ai-model"  *ngIf="dbImage.length > 0">
      <mat-form-field class="form-group">
        <mat-label>Choose Model</mat-label>
        <mat-select [formControl]="aiUrl" multiple>
          <mat-option *ngFor="let model of aiModels" [value]="model.name">
            {{ model.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-group" >
        <mat-label>Confidence Level</mat-label>
        <mat-select [(value)]="chosenConfidence">
          <mat-option *ngFor="let confidence of confidenceArray" [value]="confidence">
            {{ confidence }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="custom-button" (click)="runAIModel()" mat-raised-button>
        <mat-icon>sync</mat-icon>
        <span>Run AI Model</span>
      </button>
    </div>
    <!-- API Results -->
    <div class="api-results">
      <div class="api-result-card" *ngFor="let data of apiResultArray; index as position">
        <p> <strong>Model: </strong> {{data.metadata.serviceName}}</p>
        <div *ngIf="data.metadata.serviceName === 'Detect People'">
          <p> <strong>Face Detected: </strong> {{data.results.targetDetected}}</p>
        </div>
        <div *ngIf="data.metadata.serviceName === 'Detect Pasture'">
          <p> <strong>Pasture Detected: </strong> {{data.results.targetDetected}}</p>
        </div>
        <div *ngIf="data.metadata.serviceName === 'Detect Grazing'">
          <p> <strong>Grazing Detected: </strong> {{data.results.targetDetected}}</p>
        </div>
        <div *ngIf="data.metadata.serviceName === 'Detect Image Quality' else licence">
          <div *ngIf="data.results.maxConfidence === 1 else pass">
            <p><strong>Results: </strong>Image Quality is Poor</p>
            <p><strong>Is Blurry: </strong> {{data.results.detections.blur.is_blurry}}</p>
            <p><strong>Is Over Exposed: </strong> {{data.results.detections.brightness.is_over_exposed}}</p>
            <p><strong>Is Under Exposed: </strong> {{data.results.detections.brightness.is_under_exposed}}</p>
            <p><strong>Is Low Resolution: </strong> {{data.results.detections.resolution.is_low_resolution}}</p>
          </div>
          <ng-template #pass>
            <p><strong>Results: </strong>No Issues Detected</p>
          </ng-template>
        </div>
        <ng-template #licence>
          <div *ngIf="data.metadata.serviceName === 'Detect License Plates' else accuracy">
            <div *ngIf="data.results.maxConfidence === 1 else nolicence">
              <p><strong>Result: </strong>Licence Plate Detected</p>
            </div>
            <ng-template #nolicence>
              <p><strong>Result: </strong>No Licence Plate Detected</p>
            </ng-template>
          </div>
        </ng-template>
        <ng-template #accuracy>
          <p><strong>Accuracy: </strong> {{data.results.maxConfidence}}</p>
        </ng-template>
        <div *ngIf="data.results.targetDetected && ( data.metadata.serviceName === 'Detect People' || data.metadata.serviceName === 'Detect License Plates' )">
          <p><strong>Replace Image: </strong>{{data.results.outputFileUrl}}</p>
          <img src="{{data.metadata.outputFileUrl}}">
        </div>
      </div>
    </div>
  </div>
</div>
