mat-toolbar {
  background: white;
  color: #00B050;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #00B050;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.image {
  width: 7%;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  font-size: larger;
  padding-left: 20px;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

.header-button {
  background: green;
  color: white;
  margin-left: auto;
}

.menu-button {
  span {
    padding-left: 10px;
  }

  width: 100%;
  text-align: left;
}
