.content {
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: inline-block;
  color: var(--niva-grey-color);
}

.buttonControl {
  background: var(--niva-green-color);
  width: 200px;
  height: 60px;
  font-size: xx-large;
  color: var(--primary-color);
  margin: 10px;
}

.centerDiv {
  justify-content:center;
  display: flex;
}

.niva {
  padding-top: 10px;
}

.logo-container{
  width: 100%;
  display:flex;
  align-items: center;
  img{
    flex:1;
    margin:10px;
  }
  .agriLogo {
    height: 10%;
    width:10%
  }
  .horizon {  
    height: 10%;
    width:10%
  }
  .walton {
    width: 40%;
  }
}

.header {
  text-align: center;
  font-size: 60px;
  padding: 20px;
  word-wrap: break-word;
  display: block;
  line-height: 80px;
  color: var(--niva-green-color);
}
