<div class="content mat-elevation-z8">
  <!-- https://blog.hubspot.com/website/center-an-image-in-html#:~:text=Step%201%3A%20Wrap%20the%20image,to%20a%20fixed%20length%20value. -->
  <div class="centerDiv">
    <img class="niva" src="../../../assets/niva_logo.png" />
  </div>
  <h1 class="header">A facility for <strong>Powered Automated</strong> Review and Pre-validation of Geo-tagged
    Agriculture Images for IACS</h1>
  <div class="centerDiv">
    <!-- https://material.angular.io/components/button/overview-->
    <button class="buttonControl" (click)="login()" mat-button>Login</button>
    <button class="buttonControl" (click)="register()" mat-button>Register</button>
  </div>
  <div class="logo-container">
    <img class="horizon" src="../../../assets/horizon.png" alt="horizon logo" />
    <img class="agriLogo" src="../../../assets/AgriLogo.svg" alt="Department of Agri Logo" />
    <img class="walton" src="../../../assets/walton.png" alt ="walton Logo" />
  </div>
</div>
